name: Sigyn Agent

on:
  push:
    branches: [main]

  pull_request:
    paths:
      - "package-lock.json"
      - "src/agent/**"
      - ".github/workflows/agent.yml"
      - "!src/agent/**/*.md"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
      fail-fast: false
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Unit tests
        uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3.8.0
        with:
          command: npm install --ignore-scripts && npm run build && npm run test --workspace=src/agent
          attempt_limit: 3
      - name: Install dependencies
        run: npm install --ignore-scripts
      - name: Build packages
        run: npm run build
      - name: Run e2e tests
        run: npm run test:e2e --workspace=src/agent
